nav
    h3 Meniu
    a(href="/constanta") Constanta
    a(href="/bloculSt8") Blocul ST8
    a(href="/apartament40") Apartament 40
    a(href="/concluzii") Concluzii
    a(href="/cumSeCumpara") Cum se cumpara
    a(href="/contact") Contact