extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Structura - blocul ST8 - vand apartament Constanta'
        var myDescription = 'Structura de beton a blocului'
        var landingPage = 'Blocul ST8';
        var activeLink = '/bloculSt8/structuraBlocului';

block articole
    h2=myDescription
    p Blocul are din componenta peste 65 de stalpi de beton.

