extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Cum sunt peretii pe interior ?';
        var myDescription = 'Compartimentare apartament 40';
        var landingPage = 'Apartament 40';
        var activeLink = '/apartament40/compartimentare';

block articole
    h2=myDescription