extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Poze apartament de vanzare constanta'
        var myDescription = 'Aici gasiti diferite poze facute din apartament'
        var landingPage = 'Apartament 40';
        var activeLink = '/apartament40/poze';

block articole
    h2=myDescription