extend ../_component/layout/template

block configurari
    -
        var myTytle = 'Despre blocul ST8'
        var myDescription = 'Prezentarea blocului ST8'
        var landingPage = 'bloculSt8';
        var activeLink = '';

block articole
    h2=myDescription
    p Blocul este proiectat in 1985 – au fost construite 3 astfel de blocuri in Constanta – Cel de la Boema, Casa de Cultura si cel de langa liceul 4.
    p Blocul are o forma de piramida, si totodata de TREPIED – fiind proiectat si construit dupa cutremurul din 1977.  – se poate observa in poze multitudinea de stalpi de fier-beton care sustin blocul.
    p Blocul ST8 este pozitionat in varful unui deal. (nu exista pericol de inundatie cum este in zona DACIA)
    ul 
    li De la intrare in oras (dinspre Ovidiu) urci pe Bulevardul Tomis – spre ST8.
    li De la Dacia urci pe Bulevardul Tomis – spre ST8.
    li Din parcul Tabacariei - urci pe Sucevei– spre ST8.
    p Blocul este pozitionat intre cele 3 MALL-uri cele mai mari din orasul Constanta: CityMall, Vivo(Auchan), si TOM(Carrefour) – in mijlocul triunghiului format de aceste 3 mari Mall-uri – 4 minute cu masina pana la oricare dintre acestea. 12 minute pe jos pana la CityMall.
    p Blocul are la parter Gaze naturale! Deci proprietarii au incalzirea prin centrale proprii, si platesc individual: Gazele naturale, electricitatea si la administratie Apa rece – Raja.