extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Unde tin bicicleta?';
        var myDescription = 'Spatiu la parter pentru biciclete';
        var landingPage = 'Apartament 40';
        var activeLink = '';

block articole
    h2=myDescription