extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Parcarea apartamentului 40'
        var myDescription = 'Prezentarea locului de parcare'
        var landingPage = 'Apartament 40';
        var activeLink = '';

block articole
    h2=myDescription