extend ../_component/layout/template

block configurari
    -
        var myTytle = 'Contact';
        var myDescription = 'Date de contact';
        var landingPage = 'Contact';
        var activeLink = '';

block articole
    h2=myDescription
    h3 Proprietari: Pavel Ciupitu & Ana-Cristina Ciupitu
    h4 Telefon:  
    ul
    li Pavel: 0724.389.017 
    li Ana: 0722.263.782