extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Descriere - blocul ST8 - vand apartament Constanta'
        var myDescription = 'Cladirea ST8 + spatii comerciale'
        var landingPage = 'Blocul ST8';
        var activeLink = '';

block articole
    h2=myDescription
    p Vecinii ST8
    p Unii vechi, altii noi. nu au existat probleme pe casa scarii.
    p Exista un grup pe WatsApp cu toti locatarii blocului (aproape toti - fara 2 persoane mai in varsta care nu stiu sa foloseasca un telefon smart.)
    p Ideea e ca orice problema aparuta se discuta pe grup - si se discuta - se cer mai multe opinii - apoi se ia o decizie colectiva. 
