extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Depentinte apartament'
        var myDescription = 'Prezentare dependinte!'
        var landingPage = 'Apartament 40';
        var activeLink = '/apartament40/dependinte';

block articole
    h2=myDescription