extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'top 5 Constanta';
        var myDescription = 'Ce poti sa faci in Constanta';
        var landingPage = 'Constanta';
        var activeLink = '/constanta/top5atractii';

block articole
    h2=myDescription
    p Bineinteles ca Constanta are si un trecut istoric - orasul se numea TOMIS.
    ul
    li 1. Cazinoul
    li 2. Centrul Istoric
    li 3. Parcul Tabacariei
    li 4. Statiunea Mamaia
    li 5. Mall-urile