extend ../_component/layout/template

block configurari
    -
        var myTytle = 'Despre apartament 40'
        var myDescription = 'Prezentarea apartamentului 40'
        var landingPage = 'Apartament 40';
        var activeLink = '';

block articole
    h2=myDescription
    p Apartamentul 40 se afla la Et8 din 8 – dar avand in vedere ca exista spatii comeriale la primele 3 nivele ale blocului, atunci Ap 40 se afla undeva la nivelul 11 fata de sol.
    p Nu se uita altii de la alte blocuri la tine - Intimitate
    p Apartmentul are vedere pe 3 laterale -  deci se poate vedea peste 270 grade din 360, si pentru ca este la nivelul 11 fata de sol, apartamentul are vedere deasupra celorlalte blocuri si se poate vedea : Palazu, Lacul SiutGhiol, Mamaia, Marea Neagra, Lacul Tabacariei, parcul, Biserica Sf. Mina, vedere peste oras, noaptea se vad beculetele rosii de la turbinele Eoliene montate in Dobrogea, farul din Constanta.
