doctype html
html
    //- -var baseUrl = 'https://pavelciupitu.github.io/FlatPresentation';
    -var baseUrl = 'http://localhost:3000/';
    block configurari
    head
        title=myTytle
        meta(name = 'description', content = myDescription)
        link(rel="stylesheet", href=`${baseUrl}style.css`)
    body
        include ../header/header
        include ../nav/nav

        article
            block articole
        include ../footer/footer



