extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Concluzii apartament 40 + poze';
        var myDescription = 'Concluziile apartamentului 40 + poze';
        var landingPage = 'Concluzii';
        var activeLink = '';

block articole
    h2=myDescription
    ul
        li 1. bla bla bla
        p poza la bla bla bla
        li 2. bu bu bu
        p poza la bu bu bu