extend ../_component/layout/template

block configurari
    -
        var myTytle = 'App 40 - bloc ST8'
        var myDescription = 'The presentation of the appartment 40 from the building ST8'
        var landingPage = '';
        var activeLink = '';

block articole
    h2 Constanta este bla bla bla

