extend ../_component/layout/template

block configurari
    -
        var myTytle = 'Despre orasul Constanta';
        var myDescription = 'Prezentarea orasului Constanta';
        var landingPage = 'Constanta';
        var activeLink = '';

block articole
    h2=myDescription
    p Orașul Constanța posedă o plajă proprie în lungime de 6 km. Partea de nord a municipiului, Mamaia, cea mai populată stațiune turistică de pe Litoral, se află pe malul unei lagune, având o plajă de 7 km lungime, plajă care continuă cu alți 6 km pe teritoriul orașului Năvodari.
    p Constanța este un centru industrial, comercial și turistic de importanță națională. Aici se află cel mai mare port al României și cel de-al șaisprezecelea al Europei, în cadrul căruia funcționează foarte multe firme cu specialitate portuara.
    img(src="poze\01.jpg" alt="poza cu Constanta")