extend ../_component/layout/template

block configurari
    -
        var myTytle = 'Concluzii apartament 40';
        var myDescription = 'Concluziile apartamentului 40';
        var landingPage = 'concluzii';
        var activeLink = '';

block articole
    h2=myDescription
    ul
        li 1. bla bla bla
        li 2. bu bu bu