extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Regulament achizitie';
        var myDescription = 'Mai multe detalii despre achizitie apartament';
        var landingPage = 'Cum se cumpara';
        var activeLink = '';

block articole
    h2=myDescription
    h5 Mai jos aveti pasii pe care trebuie sa ii urmati pentru a achizitiona acest apartament.
    h5 Exista 2 variante:
    ul
    li Va prezentati cu suna de 120.000 euro si faceti achizitie directa. Detalii AICI!
    li Depuneti o oferta in plic. Mai multe detalii AICI!
