extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Descriere Constanta';
        var myDescription = 'Aceasta sectiune este pentru cei din afara Constantei';
        var landingPage = 'Constanta';
        var activeLink = '/constanta/descriereGenerala';

block articole
    h2=myDescription
    p Bineinteles ca Constanta este unul din orasele cu poluarea cea mai mica.
    ul
    li 1. Este la granita cu Marea Neagra - care ofera o protectie si aerosoli naturali.
    li 2. Are sosea de centura - autostrada A4 - inconjoara orasul - Tir-urile nu mai traverseaza orasul.