extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Agentii';
        var myDescription = 'Colaborarea cu agentiile';
        var landingPage = 'Contact';
        var activeLink = '/contact/agentii';

block articole
    h2=myDescription


    h3 Da, colaboram cu agentiile.
    p Pentru mai multe detalii, luati nr de telefon din zona de contact si sunati-ma.