extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Instalatia electrica'
        var myDescription = 'Prezentarea instalatiei electrice a apartamentului 40'
        var landingPage = 'Apartament 40';
        var activeLink = '/apartament40/electric';

block articole
    h2=myDescription