extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Amplasament apartament 40';
        var myDescription = 'Prezentarea amplasamentului apartamentului 40';
        var landingPage = 'Apartament 40';
        var activeLink = '';

block articole
    h2=myDescription