doctype html
html
    head
        title App 40 - bloc ST8
        meta(name = 'description', content = 'The presentation of the appartment 40 from the building ST8')
        link(rel="stylesheet", href = "style.css")
    body
        header
            a.current(href="/") Home
            a(href="/constanta") Constanta
            a(href="/bloculSt8") Blocul ST8
            a(href="/apartament40") Apartament 40
            a(href="/concluzii") Concluzii
            a(href="/cumSeCumpara") Cum se cumpara
            a(href="/Contact") Contact

        nav
            h3 Meniu
            a(href="/constanta") Constanta
            a(href="/bloculSt8") Blocul ST8
            a(href="/apartament40") Apartament 40
            a(href="/concluzii") Concluzii
            a(href="/cumSeCumpara") Cum se cumpara
            a(href="/Contact") Contact

        article
            h2 Apartament 40 din blocul ST8, de pe bulevartul TOMIS, nr 334A
            p Cumparand acest apartament nu cumparati doar o suprafata in mp, ci cumparati un stil de viata.
            br
            h3 Constanta este cel mai mare oras de pe litoral, avand statiunea Mamaia lipita de oras
            p Prezentarea a top 5 atractii din orasul Constanta  #[a(href="/constanta") click aici!]
            br
            h3 Blocul ST8 este unul din cele 3 blocuri cu aceasta arhitectura.
            p Mai multe despre blocul ST8 #[a(href="/bloculSt8") Click aici!]
            br
            h3 Apartamentul 40 este un super apartament.
            p Descopera apartamentul apasand #[a(href="/apartament40") AICI !]
            br
            h5 Sumarul tuturor avantajelor acestui apartament #[a(href="/concluzii") Click aici!]

        footer &copy; Copyright to Pavel Ciupitu - Web Designer


