extend _component/layout/template

block configurari
    -
        var myTytle = 'App 40 - bloc ST8';
        var myDescription = 'The presentation of the appartment 40 from the building ST8';
        var landingPage = 'Home';
        var activeLink = '';

block articole
    br
    h1 Apartamentul NU ESTE DE VANZARE
    br
    h1 Ma joc cu acest site pentru a invata!
    br
    h2 Apartament 40 din blocul ST8, de pe bulevartul TOMIS, nr 334A
    p Cumparand acest apartament nu cumparati doar o suprafata in mp, ci cumparati un stil de viata.
    br
    h3 Constanta este cel mai mare oras de pe litoral, avand statiunea Mamaia lipita de oras
    p Prezentarea a top 5 atractii din orasul Constanta  #[a(href="/constanta") click aici!]
    br
    h3 Blocul ST8 este unul din cele 3 blocuri cu aceasta arhitectura.
    p Mai multe despre blocul ST8 #[a(href="/bloculSt8") Click aici!]
    br
    h3 Apartamentul 40 este un super apartament.
    p Descopera apartamentul apasand #[a(href="/apartament40") AICI !]
    br
    h5 Sumarul tuturor avantajelor acestui apartament #[a(href="/concluzii") Click aici!]

