extend ../../_component/layout/template

block configurari
    -
        var myTytle = 'Descriere - blocul ST8 - vand apartament Constanta'
        var myDescription = 'Cladirea ST8 + spatii comerciale'
        var landingPage = 'Blocul ST8';
        var activeLink = '/bloculSt8/descriereGenerala';

block articole
    h2=myDescription
    p Blocul are din componenta 
    p Blocul ST8 are la parter mai multe spatii comerciale, care nu apartin de Asociatia de proprietari 701. 
